
// Seccion Trabajos

.TRABAJOS__Titulo{
    padding: 2%;
    text-align: center;
    color: $color-primario;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
  }

//Seccion Servicios
.Servicios__Titulo{
    margin-top: 30px;
    text-align: center;
    color: $color-primario;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

//Seccion Clientes

.Clientes__Titulo {
    margin-top: -30px;
    text-align: center;
    color: $color-primario;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-columns: repeat(1, 1fr)
}

.swiper {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
  img{
        display: block;
        width: 100%;
        object-fit: cover;
      }
    }

//Seccion Redes

.RedesContenedor{
    @include flex-center();
    li{
    margin: 0 10px;
    @include flex-center();
    }
    a{
        text-decoration: none;
        color: white;
        @include flex-center();
        margin-top: 20px;
        &:hover i{
            color: $color-secundario;
        }
        i{
            font-size: 1.1rem;
        }
    }
} 
    .copyright{
        @include flex-center();
        font-size: small;
        color: white;
    }