
.ContenedorNosotros{
    @include flex-center();
    height: 105vh;
    background-color: #0DB2AB;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 10px;

}

.TarjetaNosotros{
    display: flex;
    width: 600px;
    height: auto;
    background: white;
    border-radius: 2px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
}

.Nosotros{
    border-right: 1px solid #ddd;
    align-items: center;
    text-align: center;
    .ContenidoNosotros{
        padding: 20px;
        text-align: center;
    }
    a{
        position: relative;
        display: block; 
        &:hover img{
            box-shadow: 0 0 0 12px rgba (0,0,0,0.6);
        }
    }
    img{
    border-radius: 100px;
    box-shadow: 0 0 0 8px rgba (0,0,0,0.6);
    margin: 20px 30px;
    transition: .2s;
    justify-content: center;
    }
    h2{
        color: #ED6927;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    h5{
        margin-bottom: 20px;
    }
}

.ContenidoNosotros{
    background-color: #ED6927;
    text-align: center;
    position: relative;
    p{
        margin: 20px 30px;
        padding: 15px;
        color: white;
    }
    .social{
        margin-top: 25px;
        a{
            display: inline-block;
            padding: 0 15px;
            color: white;
            margin-bottom: 20px;
            transform: scale(2);
        }
    }
}

@media (max-width:720px){
    .TarjetaNosotros{
        display: block;
    }
}

.ContenedorNosotros1{
    @extend .ContenedorNosotros;
    background-color: $color-primario;
}
