.footer-contenedor{
    background-color: $color-primario;
    height: auto;
    width: 100vw;
    padding-top: 10px;
    color: white;
    flex-direction: column;
    text-align: center;
    @include flex-center();
}