//Seccion Servicios
.ContenedorTarjetasSevicios{
    position: relative;
    width: 100%;
    @include flex-center();
    flex-wrap: wrap;
    padding: 30px;
    .Card{
        position: relative;
    max-width: 300px;
    height: 235px;
    background-color: $color-primario;
    padding: 20px 15px;
    margin: 30px 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgb(0,0,0,0.5);
    transition: 0,3s ease-in-out;
    &:hover{
        height: 510px;  
    }
    &:hover .Contenido{
        visibility: visible;
        opacity: 1;
        width: auto;
        transition-delay: 0.3s;
    }
    .ServiciosImagenes{
        position: relative;
        width: 100%;
        height: 260px;
        top: -60px;
        box-shadow: 0 5px 20px;
    }
    .ServiciosImagenes img{
        max-width: 100%;
        border-radius: 4px;
        object-fit: cover;
    }
   .Contenido{
    position: relative;
    padding: 30px 35px;
    text-align: center;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Contenido p{
    font-size: small;
    font-style: normal;
}
.Contenido a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: nome;
    text-decoration-color: $color-primario;
    color: $color-secundario;
}
.Contenido h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: $color-secundario;
}
   }
    }

    //Servicios
    .cardservicios{
        background-color: $color-terciario;
        align-items: center;
        justify-content: center;
        img{
            object-fit: cover;
            width: 100%;
            @include tablet-lg{
                object-fit: cover; 
                padding: 20%;
            }
        }
    }
    
    .tarjeta-cuerpo{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        padding: 20px;
        color: $color-primario;
    }